.content{
 margin: 110px; 
}
.sign-in{
    margin-top: 35%;
}
.logo{
    display: flex;
}
.infocontainer{
    background-color:aliceblue;
    padding: 50%;
}
.chart{
    display: flex;
    align-items: center;
    justify-content: right;

}
.sensinfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: blue;
}
.circle{
    margin-right: 120px;
}
